.git
.env.*
creds.json
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.iml
bin/
obj/
out/
FarmOutput/
*.zip
*.log
TestResults/
coverage/
.DS_Store
Thumbs.db
.nuget/
docker-compose.override.yml